/* Основные цвета */

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
}

body {
  background-color: var(--main-white-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.navigation,
.navigation:focus {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.info-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.info-link:hover,
.info-link:focus {
  color: var(--accent-color);
}

.main-logo,
.main-logo:focus {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.first-part {
  color: var(--accent-color);
}

.second-part {
  color: black;
}

.second-part-footer {
  color: var(--main-white-color);
}

.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* Костыль для видимости цвета текста в футере */
footer {
  background-color: #2f303a;
}
/* End костыль */

.adress {
  color: var(--main-white-color);
  font-size: 14px;
  line-height: 1.71px;
  font-weight: 400;
  letter-spacing: 0.03em;
  padding: 5px;
}

.contact {
  color: rgba(255, 255, 255, 0.6);
}
