/* Основные цвета */

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
}

body {
  background-color: var(--main-white-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.navigation,
.navigation:focus {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.info-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.info-link:hover,
.info-link:focus {
  color: var(--accent-color);
}
.main-logo,
.main-logo:focus {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.first-part {
  color: var(--accent-color);
}

.second-part {
  color: black;
}
